html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.inputs {
 text-align: center;
  width: 70%;
   height: 50vh;
  background-color: red;
  display: flex;
  justify-content: center;
  margin: 2em 10em;

}

.inputs input {
  padding:2em;
  margin: 5em 0em;
 
 
}

.inputs button{
  padding: 2em;
  border-radius: 5px;
  background-color: seagreen;
  
}
